@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema de Control Académico</h1>
    <p>
        <a asp-controller="Estudiante" asp-action="Listar" class="btn btn-primary">
            Ver listado de estudiantes
        </a>
    </p>
</div>